<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.phoenix.carrot.dto.sns.WeekendFarmDto" alias="weekendFarmDto"/>
		<typeAlias type="com.phoenix.carrot.dto.sns.EntireBoardDto" alias="entireBoardDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/weekendfarm-mapper.xml"/>
		<mapper resource="/mybatis/snsboard-mapper.xml"/>
	</mappers>
</configuration>
